@using Task_1.Models
<h2>Calculartor</h2>
@*<h3>Enter integers</h3>*@
@{ Html.BeginForm("Calculartor", "Calculator");}

@Html.Label("Enter integers")<br />


@Html.Label("X")
@Html.TextBox("X")<br />
@Html.Label("Y")
@Html.TextBox("Y")<br />
@Html.RadioButton("action", "+")
<span>Sum</span> <br />
@Html.RadioButton("action", "*")
<span>Prod</span> <br />
<input type="submit" value="Calc" /><br />
@{Html.EndForm();}

@ViewBag.Message
@ViewData["Answer"]
<div>
    Log:
    <div>
        @foreach (var item in Html.GetLog())
        {
            @item <br />
        }
    </div>
</div>
@*</form>*@
